######################
# Project Specific
######################

######################
# Intellij
######################
.idea/
out/
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Visual Studio Code
######################
.vscode/

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml

######################
# Node
######################
/node/
node_tmp/
node_modules/
npm-debug.log.*

######################
# Bower
######################
bower_components/

######################
# SASS
######################
.sass-cache/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Directories
######################
/bin/
/deploy/

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Gradle
######################
.gradle/
/build/

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar

######################
# Maven
######################
/log/
/target/

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar

######################
# ESLint
######################
.eslintcache

######################
# Querydsl
######################
generated/
generated_tests/