<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件输出的日志 的格式 -->
        <encoder>
            <pattern>
                [ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n
            </pattern>
            <!-- 此处设置字符集，防止中文乱码 -->
            <charset>UTF-8</charset>
        </encoder>

        <!-- 配置日志所生成的目录以及生成文件名的规则：logs/mylog-2016-10-31.0.log -->
        <file>logs/mylog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/mylog-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 日志文件大小的最大值，超过最大值时，会重新建一个文件保存日志 -->
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!--<totalSizeCap>0.01MB</totalSizeCap>-->
        </rollingPolicy>

        <prudent>true</prudent>
    </appender>

    <logger name="io.github.jhipster" level="DEBUG"/>
    <logger name="io.undertow" level="WARN"/>
    <logger name="io.undertow.websockets.jsr" level="ERROR"/>
    <logger name="javax.activation" level="WARN"/>
    <logger name="javax.mail" level="WARN"/>
    <logger name="javax.xml.bind" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.codahale.metrics" level="WARN"/>
    <logger name="com.ryantenney" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>
    <logger name="com.sun" level="WARN"/>
    <logger name="sun.rmi" level="WARN"/>
    <logger name="sun.rmi.transport" level="WARN"/>
    <logger name="org.ehcache" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="WARN"/>
    <logger name="org.xnio" level="WARN"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="springfox" level="WARN"/>
    <logger name="com.microsoft.sqlserver.jdbc.internals" level="WARN"/>
    <logger name="liquibase" level="WARN"/>
    <logger name="LiquibaseSchemaResolver" level="INFO"/>
    <logger name="org.mongodb.driver" level="WARN"/>
    <logger name="com.atomikos" level="ERROR"/>
    <logger name="com.alibaba.druid.pool" level="WARN"/>
    <logger name="com.alicp.jetcache" level="WARN"/>
    <logger name="org.elasticsearch" level="WARN"/>
    <logger name="org.activiti" level="WARN"></logger>
    <logger name="com.github.wuchao" level="DEBUG"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <springProfile name="dev,staging">
        <logger name="webdemo" level="DEBUG"/>
        <root level="DEBUG">
            <appender-ref ref="FILE"/>
        </root>
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <logger name="webdemo" level="ERROR"/>
        <root level="ERROR">
            <appender-ref ref="FILE"/>
        </root>
        <root level="ERROR">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
